<div class="container">
  <div class="sidebar">
    <ul>
      <li (click)="setSelectedDiary('listin')">Listin Diario</li>
      <li (click)="setSelectedDiary('diarioLibre')">Diario Libre</li>
      <li (click)="setSelectedDiary('nacional')">El Nacional</li>
      <li (click)="setSelectedDiary('nuevoDiario')">Nuevo Diario</li>
      <li (click)="setSelectedDiary('remolacha')">Remolacha.net</li>
    </ul>
  </div>
  <div>
    <a class="refresh-btn" (click)="refreshData()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="refresh-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
        />
      </svg>
      Refresh
    </a>
  </div>

  <div class="content" id="main">
    <article>
      <ng-container *ngIf="articlesVm$ | async as articles">
        <app-news-card
          [articles]="articles"
          [selectedDiary]="selectedDiary"
        ></app-news-card>
      </ng-container>

      <ng-template #loading>
        <div>Cargando noticias....</div>
      </ng-template>
    </article>
  </div>
  <footer>
    <p>&copy; by Neryad 2020</p>
  </footer>
</div>
