<div class="container">
  <div class="row">
    <!-- <div class="card-01"></div>
    <div class="card-01"></div>
    <div class="card-01"></div> -->
    <div *ngFor="let article of articles" class="card-01">
      <div class="card-content">
        <div class="card-header">
          <div class="card-img">
            <img [src]="article.img" alt="" />
          </div>
          <div class="card-title">
            {{ article.title }}
          </div>
        </div>
        <button>Leer mas</button>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngFor="let article of articles" class="card-01">
      <div class="card-content">
        <div class="card-header">
          <div class="card-img">
            <img [src]="article.img" alt="" />
          </div>
          <div class="card-title">
            {{ article.title }}
          </div>
        </div>
        <button>Leer mas</button>
      </div>
    </div> -->
